.page-header {
  float: left;
  margin: 0;
  border-bottom: none;

  h1 {
    font-family: $font-header, sans-serif;
    text-align: center;
    margin: 5px 0;
    font-size: 25px;

    a {
      text-decoration: none;
    }
  }
  .description {
    display: none;
  }
}