.post {
    .category {
      a {
        color: black;
        padding: 5px;
        letter-spacing: 1;
        background-color: $color-light;
        font-size: 15px;

        &:hover {
          background-color: $link-color-hover;
        }
      }
    }
  .date-info {
    font-size: 15px;
    .date {
      font-weight: bold;
    }
  }
  p {
    margin: 10px 0;
  }
}