#nav {
  .navbar-inner {
    .container {
      h1 {
        float: left;
        margin: 0;
        margin-bottom: 30px;
        font-size: 25px;
      }
      h2 {
        float: left;
        margin-top: 0;
        margin-bottom: 20px;
      }
      .brand {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-family: $font-header;
      }
      .btn-navbar {
        &.open:before {
          @extend .icomoon;
          @extend .icon-menu:before;
          float: right;
          font-size: 30px;
          cursor: pointer;
          position: relative;
          right: 10px;
        }
        &.close:before {
          @extend .icomoon;
          @extend .icon-cross:before;
          float: right;
          font-size: 25px;
          cursor: pointer;
          position: relative;
          top: 3px;
          right: 10px;
          color: purple;
        }
      }
      .nav-collapse {
        float: right;
        &.collapse {
          display: none;
        }
      }
    }
  }
  .menu-top-menu-container {
    ul {
      margin-top: 6px;
      margin-right: 10px;
      text-align: center;
      li {
        display: inline-block;
        padding: 0 10px;
        text-transform: uppercase;
        font-size: $font-size;
        font-weight: 600;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}