#sidebar {
  width: 22%;
  padding: 0 20px 10px;
  float: right;
  background: $bg-white;
  margin: 0 10px;
  border: 1px solid #ddd;

  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: $font-size-xxl;
  }
}
