#sidebar {
  border-left: 1px solid #ededed;

  .profile {
    height: 250px;
  }

  #searchform {
    label {
      display: none;
    }
    input[type='text'] {
      height: 30px;
    }
    input[type='submit'] {
      height: 30px;
      background-color: $color-light;
      color: #000;
      border: none;
      padding: 0 15px;

      &:hover {
        background-color: $link-color-hover;
      }
    }
  }

  .instagram-pics {
    padding-left: 0;
    li {
      display: inline-block;
      width: 50%;
      padding-bottom: 5px;
      padding-right: 5px;
      img {
        width: 100%;
      }
    }
  }

  .tagcloud {
    a {
      font-size: 15px !important;
      padding: 10px;
      background-color: $color-light;
      color: #000;

      &:hover {
        background-color: $link-color-hover;
      }
    }
  }

  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      font-size: 17px;
    }
  }
}